.page-title メモ一覧

= render partial: 'shared/search',
         locals: { url: search_notes_path, query: @query, target: Note.human_attribute_name(:title), tag_search: true }

= render partial: 'notetable', locals: { notes: @notes }
