.page-title 語句検索結果

= render partial: 'shared/search',
         locals: { url: search_phrases_path, query: @query, target: 'キーワード', tag_search: false }

= render partial: 'phrasetable', locals: { phrases: @phrases }
