@import "bootstrap";

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.gray_text {
  color: gray;
}

.flex {
  display: flex;
}

.w80px {
  width: 80px;
}

.w160px {
  width: 160px;
}

.pagination {
  justify-content: center;
}

.w-85 {
  width: 85%;
}

.arrow {
  width: 150px;
  height: 15px;
  transform: skew(45deg);
  border-bottom: solid 2px;
  border-right: solid 2px;
  border-color: #999999;
}
