@import "bootstrap";

h2 {
  font-size: 24px;
}

.gray_text {
  color: gray;
}

.mask-answer {
  text-align: center;
  background-color: #ddd;
}

.flex {
  display: flex;
}

.w80px {
  width: 80px;
}

.w100px {
  width: 100px;
}

.w160px {
  width: 160px;
}

.pagination {
  justify-content: center;
}

.w-85 {
  width: 85%;
}

.arrow {
  width: 150px;
  height: 15px;
  transform: skew(45deg);
  border-bottom: solid 2px;
  border-right: solid 2px;
  border-color: #999999;
}

/* Application */
body {
  background-color: #fafafa;
}

.navbar {
  background-color: #c8c8cf;
}

.table {
  border-color: #afafaf;
}

thead {
  background-color: #e6e6e9;
}

.page-title {
  font-size: 32px;
  margin: 14px 0;
}
