@import "bootstrap";

/* Application */
body {
  background-color: #fafafa;
}

.navbar {
  background-color: #c8c8cf;
}

.table {
  border-color: #afafaf;
}

thead {
  background-color: #e6e6e9;
}

th, td {
  vertical-align: middle;
}

.page-title {
  font-size: 32px;
  margin: 14px 0;
}

.pagination {
  justify-content: center;
}

.badge {
  background-color: #8a8a8a;
  color: #ffffff;
}


/* Note Show */
.flex {
  display: flex;
}

.gray-text {
  color: gray;
}


/* Phrase Quiz */
.arrow {
  width: 150px;
  height: 15px;
  transform: skew(45deg);
  border-bottom: solid 2px;
  border-right: solid 2px;
  border-color: #999999;
}

.mask-answer {
  text-align: center;
  background-color: #cacaca;
}


/* Sizing */
.w-10 {
  width: 10%
}

.w-15 {
  width: 15%
}

.w-20 {
  width: 20%
}

.w-35 {
  width: 35%
}

.w-40 {
  width: 40%
}

.w-60 {
  width: 60%
}

.w-85 {
  width: 85%;
}

.w80px {
  width: 80px;
}

.w100px {
  width: 100px;
}

.w160px {
  width: 160px;
}

.f18px {
  font-size: 18px;
}

.f20px {
  font-size: 20px;
}

.f24px {
  font-size: 24px;
}
