@import "bootstrap";
@import "jquery.tagit";
@import "tagit.ui-zendesk";

/* Application */
body {
  background-color: #fafafa;
}

.navbar {
  background-color: #c8c8cf;
}

.table {
  border-color: #afafaf;
}

thead {
  background-color: #e6e6e9;
}

th, td {
  vertical-align: middle;
}

td {
  height: 50px;
}

.page-title {
  font-size: 32px;
  margin: 14px 0;
}

.pagination {
  justify-content: center;
}

.badge {
  background-color: #8a8a8a;
  color: #ffffff;
}

/* Note Form */
.tag_form_error {
  color: red;
}

/* Note Show */
.flex {
  display: flex;
}

.gray-text {
  color: gray;
}


/* Phrase Quiz */
.arrow {
  width: 150px;
  height: 15px;
  transform: skew(45deg);
  border-bottom: solid 2px;
  border-right: solid 2px;
  border-color: #999999;
}

.mask-answer {
  text-align: center;
  background-color: #cacaca;
}


/* Sizing */
/* for notes/_notetable.html.slim */
.w-10 {
  width: 10%
}

/* for notes/_notetable.html.slim */
.w-20 {
  width: 20%
}

/* for app/views/phrases/_phrasetable.html.slim */
.w-35 {
  width: 35%
}

/* for notes/_form.html.slim, app/views/shared/_search.html.slim */
.w-40 {
  width: 40%
}

/* for notes/_form.html.slim */
.w-60 {
  width: 60%
}

/* for app/views/phrase_quizzes/index.html.slim */
.w-85 {
  width: 85%;
}

.w-auto {
  width: auto;
}

/* for Buttons */
.w80px {
  width: 80px;
}

/* for Buttons */
.w100px {
  width: 100px;
}

/* for Buttons */
.w160px {
  width: 160px;
}

/* for Texts */
.f18px {
  font-size: 18px;
}

/* for Texts */
.f20px {
  font-size: 20px;
}

/* for Texts */
.f24px {
  font-size: 24px;
}

/* for notes/_form.html.slim */
.mt27px {
  margin-top: 27px;
}


/* tag-it overwrite */
ul.tagit {
  border-color: #ced4da;
  background: #fff;
  margin-bottom: auto;
}

ul.tagit input[type="text"] {
  width: 400px;
}

.ui-widget {	
  font-size: initial;	
}

.tagit-autocomplete.ui-widget-content {
  border-color: #ced4da;
  width: 400px;
}

.ui-state-active {
  border: none !important;
  background-color: #e5e5e5 !important;
}
